dataset

output_lgbm/*
!output_lgbm/best_model.json
!output_lgbm/result_analysis.ipynb
!output_lgbm/result_analysis.csv
!output_lgbm/result_analysis.json

wandb

.hydra
venv*

*.log

*.DS_Store
__pycache__/